* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  background-image: url("assets/bglogin.jpg");
  background-size: cover;
  background-position: center;
}

.default-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

/* Responsividade */
@media (max-width: 1200px) {
    .default-container {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .default-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .default-container {
        width: 95%;
    }
}
